.card {
    display: grid;
    align-items: center;
    padding: 10px 80px 20px;
}

.cardImage {
    flex-shrink: 0;
    position: relative;
    height: 300px;
    width: auto;
}

.card img {
    border-radius: 10px;
    object-fit: cover;
}

.cardBody {
    margin-left: 10px;
}

.cardBody p {
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 23px;
}

.cardBody h3 {
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 28px;
}

.button {
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

.icons{
    margin-top: -20px;
}