.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em;
}

.cardImage {
    display: grid;
    grid-template-columns: auto;
    position: sticky;
    object-position: center;
    width: 100%;
    max-height: 100%;
    height: 600px;
}

.cardImage img {
    object-fit: cover;
    border-radius: 16px;
}

.title {
    font-size: 48px;
    margin-top: 50px;
    margin-right: auto;
}

.titles {
    font-size: 40px;
    margin-top: 30px;
    margin-right: auto;
    text-align: left;
}

.smallImage{
    margin-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: auto;
    
}

.text{
    margin-top: -70px;
    margin-left: 110px;
}

.texts{
    display: flex;
    flex-direction:row;
    margin-left: 110px;
}

.iconas{
    margin-left: auto;
}

